<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,viewport-fit=cover">

    <title>Svelte app</title>

    <link rel="icon" type="image/png" href="/favicon.png" />
    {{#each css}}
    <link rel="stylesheet" href="/{{fileName}}" />
    {{/each}}

    {{#each js}}
    <script type="module" src="/{{fileName}}"></script>
    {{/each}}
  </head>

  <body></body>
</html>
